# async acces to os
aiofiles==23.2.1
# json speedup serialising
orjson==3.9.10
ujson==5.8.0
python-dateutil==2.8.2
# yaml-file
PyYAML==6.0.1
# fastapi
fastapi==0.110.0
# fastapi rate limitter
slowapi==0.1.8
# uvicorn
uvicorn==0.24.0.post1
# uvicorn-speedup
httptools==0.6.1
# logging
loguru==0.7.2
structlog==23.2.0
# es + aiohttp
elasticsearch[async]==8.10.1
# asyncio speedup
uvloop==0.19.0; sys_platform == 'linux'
# spacy block
spacy==3.7.2
# fast-ru
ru-core-news-sm @ https://github.com/explosion/spacy-models/releases/download/ru_core_news_sm-3.7.0/ru_core_news_sm-3.7.0-py3-none-any.whl
# fast-en
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.0/en_core_web_sm-3.7.0-py3-none-any.whl
# accuracy-ru
ru_core_news_lg @ https://github.com/explosion/spacy-models/releases/download/ru_core_news_lg-3.7.0/ru_core_news_lg-3.7.0-py3-none-any.whl
# accuracy-en
en_core_web_lg @ https://github.com/explosion/spacy-models/releases/download/en_core_web_lg-3.7.0/en_core_web_lg-3.7.0-py3-none-any.whl
# develop
pre-commit==3.5.0
black==23.10.1
autoflake==2.2.1
reorder-python-imports==3.12.0
pyupgrade==3.15.0
git+https://github.com/aio-libs/sort-all.git
# tests
pytest==7.4.3
pytest-mock==3.12.0
pytest-asyncio==0.21.1
# coverage report
coverage==7.3.2
pytest-cov==4.1.0
coverage-badge==1.1.0
