fastapi==0.87.0
orjson==3.8.1
ujson==5.5.0
PyYAML==6.0
uvloop==0.17.0; platform_system=='Linux'
loguru==0.6.0
elasticsearch==7.17.6
aiofiles==22.1.0
# spacy block
spacy==3.4.3
ru-core-news-sm @ https://github.com/explosion/spacy-models/releases/download/ru_core_news_sm-3.4.0/ru_core_news_sm-3.4.0-py3-none-any.whl
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.4.1/en_core_web_sm-3.4.1-py3-none-any.whl
# develop
pre-commit==2.20.0
black==22.10.0
autoflake==1.7.7
reorder-python-imports==3.9.0
pyupgrade==3.2.2