# async acces to os
aiofiles==23.1.0
# json speedup serialising
orjson==3.8.9
ujson==5.7.0
python-dateutil==2.8.2
# yaml-file
PyYAML==6.0
# fastapi
fastapi==0.95.0
# fastapi rate limitter
slowapi==0.1.7
# uvicorn
uvicorn==0.21.1
# uvicorn-speedup
httptools == 0.5.0
# logging
loguru==0.6.0
# es + aiohttp
elasticsearch[async]==8.6.2
# asyncio speedup
uvloop==0.17.0; sys_platform == 'linux'
# spacy block
spacy==3.5.0
# fast-ru
ru-core-news-sm @ https://github.com/explosion/spacy-models/releases/download/ru_core_news_sm-3.5.0/ru_core_news_sm-3.5.0-py3-none-any.whl
# fast-en
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.5.0/en_core_web_sm-3.5.0-py3-none-any.whl
# accuracy-ru
ru_core_news_lg @ https://github.com/explosion/spacy-models/releases/download/ru_core_news_lg-3.5.0/ru_core_news_lg-3.5.0-py3-none-any.whl
# accuracy-en
en_core_web_lg @ https://github.com/explosion/spacy-models/releases/download/en_core_web_lg-3.5.0/en_core_web_lg-3.5.0-py3-none-any.whl
# develop
pre-commit==3.2.2
black==23.3.0
autoflake==2.0.2
reorder-python-imports==3.9.0
pyupgrade==3.3.1
git+https://github.com/aio-libs/sort-all.git
# tests
pytest==7.2.2
pytest-mock==3.10.0
pytest-asyncio==0.21.0
# coverage report
coverage==7.2.2
pytest-cov==4.0.0
coverage-badge==1.1.0
