aiochclient==2.5.1
aiofiles==23.2.1
aiohttp==3.9.1
aiohttp-cors==0.7.0
aioodbc==0.4.0
aiosqlite==0.19.0
alembic==1.10.4
asyncpg==0.27.0
confluent-kafka==2.1.0
elasticsearch==8.7.0
fastparquet==2023.10.1
ldap3==2.9.1
structlog==23.1.0
loguru==0.7.0
minio==7.2.0
numpy==1.26.2
pandas==2.0.1
paramiko==3.4.0
rocketchat-API==1.30.0
uvloop==0.19.0; platform_system=='Linux'
# prefect block
prefect==2.10.6
prefect-aws==0.3.1
prefect-dask==0.2.4
prefect-docker==0.2.2
prefect-email==0.2.2
prefect-shell==0.2.2
prefect-sqlalchemy==0.2.4
# dask block
dask==2023.3.1
distributed==2023.12.1
bokeh==3.1.0
prometheus-client==0.16.0