name: Publish "pip download -r *.txt" as artifacts

on:
  push:
    branches: ["main", "develop"]

jobs:
  archive-build-artifacts:
    environment: requirements
    strategy:
      matrix:
        platform: [ "ubuntu-latest" ]
        python-version: ["3.12"]
        project_type: ["airflow"]  #, "spark"]
        architecture: ["x64"]

    runs-on: ${{ matrix.platform }}
    steps:

      - name: Get Root project folder
        uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version:  ${{ matrix.python-version }}
          architecture: ${{ matrix.architecture }}

      - name: Create a temporary artifacts folder
        run: mkdir downloads

      - name: Add artifacts to folder
        run: | 
            cd downloads
            pip download -r ../requirements/${{ matrix.project_type }}_requirements.txt
            cd ..

      - name: Upload artifacts folder
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.platform }}_${{ matrix.python-version }}_${{ matrix.architecture }}_${{ matrix.project_type }}_artifacts
          path: downloads
